.page_content {
  min-width: 70rem;
}

.carousel_banner {
  position: absolute;
  width: 70rem;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.carousel_btn {
  padding: 0 15px;
  display: inline-block;
  line-height: 250px;
  cursor: pointer;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slider > img {
  width: 100%;
}