.page_content {
  min-width: 70rem;
  overflow: hidden;
}

.carousel_banner {
  position: absolute;
  width: 70rem;
  height: 250px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.carousel_btn {
  padding: 0 15px;
  display: inline-block;
  line-height: 250px;
  cursor: pointer;
}

.slider_container {
  transform: translateX(-100%);
}

.slider {
  display: flex;
}

.slide {
  width: 100%;
}