.page_content {
  min-width: 70rem;
}

.carousel_container {
  overflow: hidden;
}

.carousel_banner {
  position: absolute;
  width: 70rem;
  height: 250px;
  display: flex;
  justify-content: space-between;
  z-index: var(--z-index-sm);
}

.carousel_btn {
  padding: 0 15px;
  display: inline-block;
  line-height: 250px;
  cursor: pointer;
  user-select: none;
}

.carousel_btn > img {
  height: 30px;
}

.carousel_btn:active {
  box-shadow: 0 0 0 2px #FFF inset, 0 0 0 3px #008296 inset;
}

.slider_container {
  transform: translateX(-100%);
}

.slider {
  display: flex;
}

.slide {
  width: 100%;
}