/* COMMON */
* {
  margin: 0 auto;
  padding: 0;
  /* font-family: 'pretendard'; */
}

a {
  text-decoration: none;
  color: #074099;
}

img {
  display: block;
}

button {
  padding: 10px;
  justify-items: right;
  color: #10141A;
  font-size: 11px;
  font-weight: 600;
  background: linear-gradient(174.6deg, #FFFFFF 4.31%, #FED15F 50.01%, #FEBE30 95.71%);
  border: 1px solid #DE9408;
  border-radius: 4px;
  cursor: pointer;
}

.modal {
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 56px;
  padding: 16px;
  border-radius: 4px;
  z-index: 1;
}

@keyframes slow-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-appear {
  from {
    left: -320px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes slide-hide {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -320px;
    opacity: 0;
  }
}

/* SECTION */
section {
  position: relative;
}

.dim {
  position: absolute;
  display: none;
  width: 100%;
  height: 1809px;
  background: rgba(16, 20, 26, 0.4);
}

/* HEADER */
header {
  position: relative;
  width: auto;
  color: white;
  font-size: 13px;
}

.main-menu {
  display: flex;
  align-items: center;
  background-color: #10141A;
  height: 56px;
  width: 100%;
  min-width: 800px;
  box-sizing: border-box;
}

.main-menu p {
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
}

.main-menu .label {
  margin-bottom: 3px;
  color: #D5D5D5;
  font-size: 11px;
}

.main-menu .text-box {
  padding: 13.5px 0 13.5px 29px;
}

.main-menu .logo {
  margin: 8px 0 8px 16px;
}

.main-menu .shipping-address {
  margin-right: 24px;
  text-align: right;
}

.main-menu .shipping-address .pointer {
  display: none;
  position: absolute;
  width: 20.15px;
  height: 20.15px;
  left: 156.89px;
  top: 48px;
  background: #FFFFFF;
  transform: matrix(0.75, 0.66, -0.75, 0.66, 0, 0);
}

.main-menu .shipping-address .modal {
  width: 320px;
}

.main-menu .shipping-address .modal button {
  margin-top: 26px;
}

.modal .modal__text {
  color: #10141A;
  font-size: 11px;
  font-weight: 500;
  text-align: left;
}

.main-menu .shipping-address:hover .modal,
.main-menu .shipping-address:hover .pointer {
  display: block;
}

.main-menu .search-bar {
  display: inline-flex;
  flex-grow: 1;
}

.main-menu .search-bar input {
  height: 40px;
  width: 100%;
  padding: 0 0 0 12px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.main-menu .search-bar input:focus {
  outline:none;
}

.main-menu .search-bar .btn-search {
  vertical-align: middle;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 40px;
  height: 40px;
  background-color: #FCB057;
}

.main-menu .search-bar .btn-search img {
  background-color: transparent;
  margin: 0 auto;
}

.main-menu .language-country {
  display: flex;
}

.main-menu .language-country img {
  margin-right: 3px;
}

.main-menu .log-in {
  position: relative;
}

.main-menu .log-in .pointer {
  display: none;
  position: absolute;
  width: 18.93px;
  height: 18.93px;
  left: 67px;
  top: 48px;
  background: #FFFFFF;
  transform: matrix(0.75, 0.66, -0.75, 0.66, 0, 0);
}

.main-menu .log-in .modal {
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 235px;
  right: 0;
}

.main-menu .log-in .modal button {
  width: 160px;
  margin-bottom: 6px;
}

.main-menu .log-in .modal p {
  text-align: center;
}

.main-menu .log-in:hover .modal__extension,
.main-menu .log-in:hover .pointer {
  display: block;
}

.main-menu .log-in .modal__extension {
  display: none;
  position: absolute;
  width: 335px;
  top: 55px;
  right: 0;
  padding: 16px;
  background-color: #FFF;
  z-index: 1;
}

.main-menu .log-in .modal__extension__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #10141A;
  margin-bottom: 8px;
}

.main-menu .log-in .modal__extension__top button {
  width: 160px;
  margin-bottom: 8px;
}


.main-menu .log-in .modal__extension__bottom {
  display: flex;
  justify-content: space-between;
  width: 303px;
  padding-top: 8px;
  border-top: 1px solid #EFF2F2;
  color: #10141A;
  
}

.main-menu .log-in .modal__extension__bottom ul {
  font-size: 13px;
  font-weight: 800;
}

.main-menu .log-in .modal__extension__bottom li {
  font-size: 11px;
  margin-top: 4px;
}

.main-menu .shopping-basket {
  margin: 0 8px 0 52px;
}

.sub-menu {
  display: flex;
  align-items: center;
  background: #1B232F;
  height: 32px;
  list-style: none;
  font-weight: bold;
  box-sizing: border-box;
}

.sub-menu .all-menu {
  display: flex;
}

.sub-menu li {
  font-size: 13px;
  font-weight: 600;
  margin: 0 8px;
}

.sub-menu li span,
.sub-menu li div {
  cursor: pointer;
}

.sub-menu li img {
 margin: 0 6px 0 12px;
}

.sub-menu li:first-child {
  display: flex;
}

.sub-menu li:last-child {
  flex: 1;
  text-align: right;
}

/* SIDE BAR */
.side-menu {
  display: none;
  position: absolute;
  top: 0;
  animation: slide-appear .5s;
  z-index: 1;
}

.side-menu__inner {
  width: 320px;
  height: 100%;
  background-color: #FFF;
}

.side-menu__log-in {
  height: 53px;
  background-color: #10141A;
  padding: 16px 16px 16px 32px;
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
  box-sizing: border-box;
}

.side-menu__contents {
  padding: 0 16px 16px 32px;
}

.side-menu__title {
  height: 53px;
  line-height: 3.5;
  font-weight: 800;
  font-size: 18px;
}

.side-menu__item {
  display: flex;
  line-height: 2.3;

}

.side-menu__item:hover {
  background-color: rgba(135, 135, 135, 0.3);
}

.side-menu__item span {
  height: 30px;
  font-size: 13px;
  flex-grow: 1;
}

.side-menu__close {
  position: absolute;
  top: 17px;
  left: 330px;
  cursor: pointer;
}
