@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-pretendard);
  background: var(--color-gray-300);
}

.item_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_bar {
  position: relative;
  z-index: var(--z-index-lg);

  min-width: 70rem;
  height: 90px;

  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  color: var(--color-white);
}

.nav_tab_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_main {
  height: 60px;
  padding: 0px 40px;
  background-color: var(--color-black);
}

.nav_main > div {
  width: 100px;
  height: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_sub {
  height: 30px;
  padding: 0px 40px;
  background-color: var(--color-gray-900);
}

.nav_sub_left {
  width: 400px;
  height: 30px;
  align-items: center;
}

.nav_sub_right {
  width: 200px;
  height: 30px;
  text-align: right;
  line-height: 30px;
}

.nav_tab_top {
  display: flex;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}

.address_container {
  position: relative;
}

.address {
  width: 50px;
}

.address_popup {
  top: 58px;
  left: -3px;
  width: 320px;

  justify-content: space-between;

  height: 125px;

  font-weight: var(--font-weight-body);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-160);
  letter-spacing: var(--letter-spacing-3em);
}

.address_popup > .btns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  width: 320px;
  padding: 0px 16px;
}

#continue_btn {
  width: 40px;
  height: 30px;
  margin: 0px 5px;
}

#change_address_btn {
  width: 60px;
  height: 30px;
  margin: 0px 5px;
}

.address_popup > .triangle {
  top: -12px;
  left: 34px;
}

.triangle {
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--color-white);
}

.search_form {
  position: relative;
  display: flex;
  align-items: center;

  width: 41rem;
  height: 40px;
}

/* 최소 width가 1120px일 경우, 1120px이상일 때 적용되는 코드 */
@media screen and (min-width: 1120px) {
  .search {
    flex-grow: 1;
  }

  .nav_bar {
    width: 100%;
  }

  .page_content {
    width: 70rem;
    margin: 0 auto;
  }

  .carousel_container {
    width: 100%;
  }
}

.search_input {
  width: 100%;
  height: 100%;
  padding: 12px 12px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  outline: none;
}

#search_btn {
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 0px 4px 4px 0px;
  background: var(--color-orange-100);
}

#search_btn > img {
  width: 20px;
}

.search_input::placeholder {
  color: var(--color-gray-600);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-3em);
}

.search_container {
  position: absolute;
  top: 40px;
  display: flex;
  align-items: flex-start;
  width: 100%;

  border: 1px solid var(--color-black);
  border-radius: 4px;
  background-color: var(--color-white);
}

.search_suggestion {
  width: 100%;
}

.search_suggestion > li {
  height: 37px;
  padding: 0 12px;
  display: flex;
  color: var(--color-black);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-md);
  line-height: 37px;
}

.flex_between > li:not(.recommend) {
  justify-content: space-between;
}

#search_delete_btn, #recommend_btn {
  width: 9px;
  line-height: 37px;
}

.recommend > span{
  padding-left: 7px;
}

.search_suggestion > li:hover, .pressed {
  background-color: var(--color-gray-30);
}

.recentInput {
  color: var(--color-purple);
  font-weight: var(--font-weight-bold);
}

.login_container {
  position: relative;
}

.login {
  display: flex;
  flex-direction: column;
  width: 90px;
}

.login_btn {
  width: 160px;
  height: 32px;
}

.login_popup {
  top: 58px;
  left: -130px;
  width: 320px;
  height: 100px;
  padding: 16px;
  justify-content: space-around;

  font-weight: var(--font-weight-body);
  font-size: var(--font-size-sm);
}

.login_page_move {
  color: var(--color-navy);
}

.login_popup > .triangle {
  top: -12px;
  left: 156px;
}

@keyframes fadein {
  from { opacity: 0 }
  to { opacity: 1 }
}

.fade_in {
  opacity: 0;
  animation: fadein 1s forwards;
  animation-delay: 1s;
}

.login_detail {
  top: 58px;
  left: -130px;
  width: 320px;

  font-weight: var(--font-weight-body);
  font-size: var(--font-size-sm);
}

.login_detail > .login_popup {
  height: 84px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-weight: var(--font-weight-body);
  font-size: var(--font-size-sm);
  padding-top: 0;
}

.login_detail > .content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 300px;
  padding: 5px 10px;
  line-height: 200%;

  border-top: 1px solid var(--color-gray-100);
}

.content_left {
  width: 150px;
}

.content_right {
  width: 150px;
  padding-left: 15px;
  border-left: 1px solid var(--color-gray-100);
}

.login_detail > .triangle {
  top: -12px;
  left: 156px;
}

.modal_box {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 16px;

  background: var(--color-white);
  color: var(--color-black);
  border-radius: 4px;
  box-shadow: 0px 3px 5px -2px var(--color-gray-700);
}

button {
  border: 1px solid var(--color-yellow-300);
  border-radius: 4px;
  background: linear-gradient(174.6deg, var(--color-white) 4.31%, var(--color-yellow-100) 50.01%, var(--color-yellow-200) 95.71%);

  font-weight: var(--font-weight-body);
  font-size: var(--font-size-sm);
}

.modal_background {
  position: fixed;
  z-index: var(--z-index-md);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: var(--color-black-40);
}

.order {
  flex-direction: column;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.every {
  display: flex;
  width: 45px;
}

header img:not(.logo img, #search_delete_btn, #recommend_btn , #search_btn > img) {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}