.nav-belt {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0px 16px;
  gap: 24px;
  background: var(--color-black);
  color: var(--color-white);
}

.shipping-container {
  font-size: 11px;
  color: var(--color-gray400);
}

.country {
  width: 43px;
  font-weight: 800;
  font-size: 13px;
  color: var(--color-white);
  letter-spacing: -0.06em;
}

.search {
  display: flex;
  flex-grow: 1;
}

.search-input {
  flex-grow: 1;
  padding: 12px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  background: var(--color-white);
}

.search-button {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 0px 4px 4px 0px;
  background: var(--color-PrimaryOrange100);
  align-items: center;
}

.language {
  display: flex;
  flex-direction: row;
  font-size: large;
}

.return-order span.return {
  font-size: 11px;
  letter-spacing: -0.06em;
  color: var(--color-gray400);
}

.return-order span.order {
  font-size: 13px;
  color: var(--color-white);
}

.nav-main {
  display: flex;
  height: 32px;
  background: var(--color-gray900);
  align-items: center;
  padding: 0px 16px;
  color: var(--color-white);
}

.nav-shop {
  display: flex;
  gap: 16px;
}

.shop-deals {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}
