/* sidebar */

@keyframes left-to-right-slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes right-to-left-slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.show-side-bar {
  animation: left-to-right-slide-in 250ms ease-in-out;
}

.hide-side-bar {
  animation: right-to-left-slide-out 250ms ease-in-out forwards;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
}

.side-bar__close {
  position: absolute;
  left: 320px;
}

.side-bar__log-in {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 320px;
  padding: 16px 16px 16px 32px;
  background-color: #10141a;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}

.side-bar__content {
  height: 100%;
  position: relative;
  width: 320px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  color: #10141a;
  background-color: #ffffff;
}

.side-bar__label {
  padding: 16px 16px 16px 32px;
  font-weight: 800;
  font-size: 18px;
  display: block;
}

.side-bar__show-all,
.side-bar__button {
  padding: 8px 16px 8px 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;

  font-weight: 500;
  font-size: 13px;
}

.side-bar__text {
  flex-grow: 1;
  text-align: left;
}

.side-bar__show-all:hover,
.submenu__back:hover,
.side-bar__button:hover {
  background-color: #eff2f2;
}

/* other buttons */

@keyframes top-to-bottom-slide {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

@keyframes bottom-to-up-slide {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

.show-others {
  animation: top-to-bottom-slide 500ms ease-in-out;
}

.hide-others {
  animation: bottom-to-up-slide 500ms ease-in-out forwards;
}

.other-buttons-container__items {
  overflow-y: hidden;
  width: 320px;
}

/* sub menu */

@keyframes right-to-left-slide-in {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes left-to-right-slide-out {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.show-sub-menu {
  animation: right-to-left-slide-in 250ms ease-in-out forwards;
}

.hide-sub-menu {
  animation: left-to-right-slide-out 250ms ease-in-out;
}

.submenu {
  width: 320px;
  position: absolute;
  left: 320px;
  top: 0;
  height: 100%;
  background-color: #fff;

  z-index: 1000;
}

.submenu__back {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px 8px 32px;
  width: 100%;
}

.submenu__back-text {
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  text-align: left;
}
