/* sidebar */

.side-bar.show-side-bar {
  left: 0;
}

.side-bar {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 100;

  transition: left 250ms ease-in-out;
}

.side-bar__close {
  position: absolute;
  left: 320px;
}

.side-bar__log-in {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 320px;
  padding: 16px 16px 16px 32px;
  background-color: #10141a;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
}

.side-bar__content {
  height: 100%;
  position: relative;
  width: 320px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  color: #10141a;
  background-color: #ffffff;
}

.side-bar__label {
  padding: 16px 16px 16px 32px;
  font-weight: 800;
  font-size: 18px;
  display: block;
}

.side-bar__show-all,
.side-bar__button {
  padding: 8px 16px 8px 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;

  font-weight: 500;
  font-size: 13px;
}

.side-bar__text {
  flex-grow: 1;
  text-align: left;
}

.side-bar__show-all:hover,
.submenu__back:hover,
.side-bar__button:hover {
  background-color: #eff2f2;
}

/* other buttons */

.other-buttons-container__items.show-others {
  height: 100%;
}

.other-buttons-container__items {
  overflow-y: hidden;
  width: 320px;
  height: 0;

  transition: height 500ms ease-in-out;
}

/* sub menu */

.submenu-container.show-sub-menu {
  left: 0;
}

.submenu-container {
  width: 320px;
  position: absolute;
  top: 0;
  left: 320px;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transition: left 250ms ease-in-out;
}

.submenu {
  width: 320px;
}

.submenu__back {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px 8px 32px;
  width: 100%;
}

.submenu__back-text {
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  text-align: left;
}
