@import "reset.css";

/* COMPONENTS */
@import "components/header-bar.css";
@import "components/section-login.css";
@import "components/section-location.css";
@import "components/menu-bar.css";
@import "components/side-bar.css";
@import "components/side-bar-detail.css";

/* SCREENS */
@import "screens/dimmed.css";
@import "scss/screens/banner-style.css";

body {
  font-family: "Kanit", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
