@import 'reset.css';
@import 'navbar.css';
@import 'sidebar.css';

@font-face {
  font-family: 'Pretendard';
  src: url(/fonts/Pretendard-Black.ttf);
}

/*  {
  box-sizing: border-box;
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Pretendard';
  position: relative;
}
