$white: #ffffff;
$gray100: #eff2f2;
$gray200: #e5e9e9;
$gray300: #dce0e0;
$gray400: #d5d5d5;
$gray500: #c1c1c1;
$gray600: #878787;
$gray700: #535353;
$gray800: #2a3648;
$gray900: #1b232f;
$black: #10141a;
$black40: rgba($black, 0.4);
$primary-yellow100: #fed15f;
$primary-yellow200: #febe30;
$primary-yellow300: #de9408;
$primary-orange100: #fcb057;
$primary-orange200: #ff9900;
$secondary-purple: #941387;
$secondary-navy: #074099;
$secondary-green: #0c5e72;

$bold-xl: 2.8rem 800 0 1;
$bold-lg: 1.8rem 800 0 1;
$bold-md: 1.3rem 800 -0.06em 1;
$bold-sm: 1.1rem 600 -0.03em 1;
$body-md: 1.3rem 500 -0.03em 1.6;
$body-sm: 1.1rem 500 -0.03em 1.6;
