.header {
  background-color: $black;
  padding: 0px 16px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;

  &__logo,
  &__anchor {
    padding-top: 8px;
    padding-bottom: 8px;
    @include header-padding;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__location-image {
    width: 10px;
    height: 10px;
  }

  &__anchor {
    display: flex;
    align-items: center;
  }

  &__translate,
  &__cart {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
  }
}
