.header {
  background-color: $black;
  padding: 0px 16px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;

  &__logo,
  &__anchor {
    padding-top: 8px;
    padding-bottom: 8px;
    @include header-padding;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__location-image {
    width: 10px;
    height: 10px;
  }

  &__anchor {
    display: flex;
    align-items: center;
  }

  &__translate,
  &__cart {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .search-form {
    @include header-padding;
    flex-grow: 1;

    display: flex;

    &__input {
      flex-grow: 1;
      border: none;
      border-radius: 4px 0px 0px 4px;
      padding: 12px 9.5px;
    }

    &__button {
      width: 40px;
      height: 40px;
      background-color: $primary-orange100;
      border-radius: 0px 4px 4px 0px;
    }
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
  }
}
