/* side bar */
.sidebar-main {
  position: fixed;
  top: 0;
  left: 0;
  /* 추후에 사이드바 작업하기 */
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 20rem;
  height: 100%;
  background-color: var(--color-white);
  z-index: 5;
  animation: slow-load, pop-from-left 1s forwards;
  overflow: scroll;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--color-black);
}

.sidebar__greeting {
  font-weight: var(--weight-bold);
  font-size: var(--font-lg);
  color: var(--color-white);
}

.sidebar__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1rem;
}

.sidebar__first-content, .sidebar__second-content {
  border-bottom: 1px var(--color-gray-100) solid;
}

.sidebar__machine-list, .sidebar__department-list, .sidebar__others-list {
  line-height: 2rem;
  font-weight: var(--weight-regular);
  font-size: var(--font-md);
  color: var(--color-black);
}

.sidebar__others-content {
  animation: slow-load 1s forwards;
  animation-play-state: revert;
}

.machine-list__title, .department-list__title {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-lg);
  color: var(--color-black);
  margin-top: 1rem;
}

.machine-list__amazon-music,
.machine-list__e-reader,
.machine-list__android,
.department-list__electronic,
.department-list__computer,
.department-list__smart-home,
.department-list__art,
.others-list__car,
.others-list__child,
.others-list__beauty,
.others-list__fashion-female,
.others-list__fashion-male,
.others-list__fashion-female-child,
.others-list__fashion-male-child,
.others-list__health,
.others-list__kitchen,
.others-list__industry,
.others-list__journey-carrier,
.others-list__movie,
.others-list__pet,
.others-list__software,
.others-list__sports,
.others-list__building-tool,
.others-list__toy,
.others-list__video-game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-all__text, .show-simple__text {
  padding-right: 1rem;
}

.sidebar__others-content {
  display: none;
}

@keyframes pop-from-left-sub {
  0% {
    left: 0;
  }
  100% {
    left: 20rem;
  }
}

.sidebar-sub {
  position: fixed;
  left: 20rem;
  display: none;

  width: 20rem;
  height: 100%;
  background-color: var(--color-white);
  z-index: 4;
  transition: all 0.3s;
  animation: slow-load,pop-from-left-sub 1s forwards;
  overflow: scroll;
}

.sidebar-sub__content {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.sidebar-sub-list {
  line-height: 2rem;
  font-weight: var(--weight-regular);
  font-size: var(--font-md);
  color: var(--color-black);
}

.sidebar-sub-list__title {
  font-weight: var(--weight-bold);
  font-size: var(--font-lg);
  color: var(--color-black);
  margin-top: 1.5rem;
}

.sidebar-sub__back {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}