* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

.header {
  padding: 8px 16px;
  background-color: #000;
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header__link {
  list-style: none;
}

.header__anchor,
.header__shipping-address {
  display: flex;
  flex-direction: column;
}

.header__anchor,
.nav__anchor,
.nav__special-offer {
  text-decoration: none;
  color: #fff;
}

.search-form {
  flex-grow: 1;

  display: flex;
}

.search-form__input {
  flex-grow: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
}

.nav__item {
  list-style: none;
  padding: 8px;
}
