.sidebar {
  display: block;
  position: absolute;

  height: 100vh;
  width: 50%;
  background-color: aquamarine;

  z-index: 2;
}

.sidebar__container {
  display: flex;
  flex-flow: column;
}

.sidebar__login {

  width: 100%;
  height: 53px;
  background-color: black;
}

/* .sidebar__digital-content {

} */