.sidebar-elements {
  display: block;
  position: absolute;
  left: -35vh;
}

.sidebar__layer {
  display: block;
  position: fixed;

  height: 100vh;
  width: 35vh;
  background-color: #FFFFFF;
  z-index: 1;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow-y: auto;
} 

@keyframes slideRightWard {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideLeftWard {
  from {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.sidebar__container {
  display: flex;
  flex-flow: column;
  width: 100%;
  /* height: auto; */
}

.sidebar__login--top__container {
  display: flex;
  background-color: black;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  position: relative;
  width: 100%;
  align-items: center;
}

.sidebar__login__link {
  display: flex;
  height: auto;
  padding: 4% 10%;
  position: relative;
  width: 100%;
}

.sidebar__login__txt {
  padding-left: 5%;
}

.sidebar__login__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95%;
  border: white 2px solid;
  border-radius: 5px;
  opacity: 0;
}

.sidebar__login__link:hover::before {
  opacity: 1;
}

.sidebar__closeBtn--container {
  padding: 4% 6%;
  cursor: pointer;
  position: relative;
}

.sidebar__closeBtn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.sidebar__closeBtn--container::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  border: white 2px solid;
  border-radius: 5px;
  opacity: 0;
}

.sidebar__closeBtn--container:hover::before {
  opacity: 1;
}

.sidebar__digital-content,
.sidebar__shopping {
  display: flex;
  flex-flow: column;

  border-bottom: 1px solid #EFF2F2;
}

.sidebar__digital-content__title,
.sidebar__shopping__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  padding: 6% 6% 6% 10%;
}

.sidebar__digital-content__title-link,
.sidebar__shopping__title-link {
  font-weight: bold;
  color: black
}

.sidebar__digital-content__menu,
.sidebar__shopping__menu {
  display: flex;
  flex-flow: column;

  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}

.sidebar__contents {
  display: flex;
  justify-content: space-between;
  padding: 4% 6% 4% 10%;
  font-weight: 500;
  color: black
}

.sidebar__contents:hover {
  background-color: #e0e0e0;
}

.sidebar__contents.btn {
  display: flex;
  justify-content: unset;
  padding: 4% 6% 4% 10%;
  font-weight: 500;
  color: black;
  gap: 3%;
}

.sidebar__shopping.extra {
  height: 0;
  transition: height .4s ease-in-out;
  overflow: hidden;
}

.sidebar__menu {
  display: flex;
  height: auto;
}

.sidebar__menu.main {
  display: flex;
  flex-flow: column;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow-y: auto;
}

.sidebar__menu.right {
  display: block;
  position: absolute;
  left: 33vh;
  width: 100%;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow-y: auto;
}

.sidebar__contents-shopping__electron {
  display: flex;
  justify-content: space-between;
  padding: 4% 6% 4% 10%;
  font-weight: 500;
  color: black
}

.sidebar__contents-shopping__electron:hover {
  background-color: #e0e0e0;
}

@keyframes slideMenuLeftWard {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideMenuRightWard {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}