@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-family: inherit;
}

/* font color랑 font-size 메인 만들면서 비교해보고 header로 빼기 */

body {
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", sans-serif;
  letter-spacing: -0.06em;
  height: 100%;
  position: relative;
}

.header {
  background-color: #000;
  padding: 0px 16px;
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.header__logo,
.header__anchor,
.search-form {
  padding-top: 8px;
  padding-bottom: 8px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__anchor {
  display: flex;
  align-items: center;
}

.header__anchor,
.nav__anchor,
.nav__special-offer {
  font-weight: 800;
}

.header__text--upper {
  color: #d5d5d5;
  font-size: 11px;
  font-weight: 600;
}

.header__text {
  font-weight: 800;
}

.header__translate,
.header__cart {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search-form {
  flex-grow: 1;

  display: flex;
}

.search-form__input {
  flex-grow: 1;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 12px 9.5px;
}

.search-form__button {
  width: 40px;
  height: 40px;
  background-color: #fcb057;
  /* border: none; */
  border-radius: 0px 4px 4px 0px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
}

.nav {
  background-color: #1b232f;
  padding: 0px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
}

.nav__anchor {
  display: inline-block;
  padding: 8px;
}

/* 명시도 높이기 */
.hidden.hidden {
  display: none;
}

.pop-up {
  position: absolute;
  padding: 16px;
  background-color: #fff;
  letter-spacing: -0.03em;
  font-size: 11px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.pop-up--login {
  right: 10px;
  /* top 값 바꾸기 */
  top: 54px;
  gap: 8px;
}

.pop-up--shipping-address {
  top: 54px;
  left: 0px;
  gap: 26px;

  width: 320px;
}

.pop-up__triangle {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  width: 18px;
  height: 18px;
  position: absolute;
  transform: translateY(-30%);
  background-color: inherit;
  top: 0;
}

.pop-up__triangle--login {
  right: 10px;
}

.pop-up__triangle--shipping-address {
  left: 10px;
}

.pop-up__text {
  color: #10141a;
}

.pop-up__text--login {
  white-space: nowrap;
}

.pop-up__link {
  color: #074099;
  text-decoration: none;
}

.button {
  background: linear-gradient(
    174.6deg,
    #ffffff 4.31%,
    #fed15f 50.01%,
    #febe30 95.71%
  );
  border: 1px solid #de9408;
  border-radius: 4px;

  padding: 9.5px 10px;
}

.button--large {
  width: 160px;
}

.seperator-line {
  height: 1px;
  width: 100%;
  background-color: #eff2f2;
}

.pop-up__list {
  color: #10141a;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: nowrap;
  width: 150px;
}

.list__label {
  font-weight: 800;
  letter-spacing: -0.06em;
  font-size: 13px;
}

.list__items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list__item {
  width: 150px;
}

@keyframes slide--right-to-left {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(100%);
  }
}

.main {
  position: relative;

  /* 테스트용 추후 제거 */
  height: 1300px;
}

.dimmed {
  background-color: rgba(16, 20, 26, 0.4);
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.dimmed--main {
  position: absolute;
}

.dimmed--body {
  position: fixed;
}

/* sidebar */

@keyframes side-bar__slide--left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.show-side-bar {
  animation: side-bar__slide--left-to-right 250ms ease-in-out;
}

.hide-side-bar {
  animation: side-bar__slide--left-to-right 250ms ease-in-out reverse forwards;
}

.side-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;

  /* animation: side-bar__slide--left-to-right 250ms ease-in-out; */
}

.side-bar__close {
  position: absolute;
  left: 320px;
}

.side-bar__log-in {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 320px;
  padding: 16px 16px 16px 32px;
  background-color: #10141a;
  font-size: 18px;
  font-weight: 800;
}

.side-bar__content {
  height: 100%;
  position: relative;
  width: 320px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  color: #10141a;
  background-color: #ffffff;
}

.side-bar__label {
  padding: 16px 16px 16px 32px;
  font-weight: 800;
  font-size: 18px;
  display: block;
}

.side-bar__show-all,
.side-bar__button {
  padding: 8px 16px 8px 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;

  font-weight: 500;
  font-size: 13px;
}

.side-bar__text {
  flex-grow: 1;
  text-align: left;
}

.side-bar__show-all:hover,
.submenu__back:hover,
.side-bar__button:hover {
  background-color: #eff2f2;
}

/* other buttons */

@keyframes other-buttons__slide--top-to-bottom {
  from {
    /* transform: scaleY(0); */
    height: 100%;
  }

  to {
    /* transform: scaleY(1); */
    height: 0;
  }
}

.other-buttons-container {
  position: relative;
  /* animation: other-buttons__slide--top-to-bottom 1000ms ease-in-out forwards; */
}

/* .other-buttons-container__items {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 320px;
  height: 100%;
  overflow-y: hidden;
  animation: other-buttons__slide--top-to-bottom 300ms ease-in-out forwards;
} */

.window {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 320px;

  z-index: 1;
  background-color: white;
  animation: other-buttons__slide--top-to-bottom 1000ms ease-in-out forwards;
}

/* sub menu */

@keyframes sub-menu__slide--right-to-left {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes sub-menu__slide--left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.sub-menu__slide--right-to-left {
  animation: sub-menu__slide--right-to-left 250ms ease-in-out forwards;
}

.sub-menu__slide--left-to-right {
  animation: sub-menu__slide--left-to-right 250ms ease-in-out;
}

.submenu {
  width: 320px;
  position: absolute;
  left: 320px;
  top: 0;
  height: 100%;
  background-color: #fff;

  z-index: 1000;
}

.submenu__back {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 8px 16px 8px 32px;
  width: 100%;
}

/* 작동안함 일단 보류 */
/* .submenu__back-image {
  fill: red;
} */

.submenu__back-text {
  font-weight: 500;
  font-size: 13px;
  width: 100%;
  text-align: left;
}
