@import "./reset.css";
.nav-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 24px;
  width: 1280px;
  height: 56px;
  background: #10141a;
  color: #ffffff;
}

.delivery {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.06em;
  color: #d5d5d5;
}

.country {
  width: 43px;
  height: 16px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.search {
  display: flex;
  flex-direction: row;
}
.search-input {
  padding: 5px;
  width: 700px;
  height: 40px;
  border: 0;
  background: #ffffff;
  border-radius: 4px 0px 0px 4px;
}

.search-button {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 0px 4px 4px 0px;
  background: #fcb057;
  align-items: center;
}

.language {
  display: flex;
  flex-direction: row;
  font-size: large;
}

.login {
  width: 80px;
}

.login span.login-prompt {
  font-size: 11px;
  letter-spacing: -0.06em;
  color: #d5d5d5;
}

.login span.Accounts and lists {
  font-size: 13px;
  color: #ffffff;
}

.return-order span.return {
  font-size: 11px;
  letter-spacing: -0.06em;
  color: #d5d5d5;
}

.return-order span.order {
  font-size: 13px;
  color: #ffffff;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
  width: 1280px;
  height: 32px;
  background: #1b232f;
  align-items: center;
}

.nav-shop {
  justify-content: flex-start;
}

.nav-shop li {
  float: left;
}
