@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-size: 13px;
  font-family: "Pretendard", sans-serif;
  letter-spacing: -0.06em;
}

.header {
  padding: 8px 16px;
  background-color: #000;
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header__link {
  list-style: none;
  display: flex;
  align-items: center;
}

.header__anchor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__anchor,
.nav__anchor,
.nav__special-offer {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

.header__location-img {
  width: 8px;
  height: 10px;
  filter: invert(0%) sepia(8%) saturate(7500%) hue-rotate(355deg)
    brightness(90%) contrast(110%);
}

.header__text--upper {
  color: #d5d5d5;
  font-size: 11px;
  font-weight: 600;
}

.header__text {
  font-weight: 800;
}

.header__cart {
  display: flex;
  align-items: center;
}

.search-form {
  flex-grow: 1;

  display: flex;
}

.search-form__input {
  flex-grow: 1;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 12px 9.5px;
}

.search-form__button {
  width: 40px;
  height: 40px;
  background-color: #fcb057;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.search-form__button:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
}

.nav__item {
  list-style: none;
  padding: 8px;
}
