* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration-line: none;
}

.main {
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  position: fixed;

  background-color: #000000;
  height: 88px;
  width: 100%;

  z-index: 1;
}

.nav-top,
.nav-top__inner-wrap,
.nav-top__left {
  height: 56px;
}

.nav-top__inner-wrap {
  display: flex;
  flex: 1 1;
  padding: 8px 0;
  align-items: center;
  gap: 2%;
}

.nav-top__left {
  display: flex;
  height: auto;
  gap: 29px;
  padding: 1%;
}

.nav-top__container {
  width: 90px;
  overflow: hidden;
  position: relative;
}

.nav-top__container > img {
  width: 100%;
  height: 100%;
}

.nav-top__location {
  display: flex;
  align-items: center;
}

.nav-top__link {
  display: flex;
  flex-flow: column;
}

.nav-top__line1 {
  display: flex;
  align-items: center;
  gap: 2px;
}

.nav-top__pointer {
  width: 8px;
  height: 10px;
}

.nav-top__pointer > img {
  width: 100%;
  height: 100%;
}

.nav-top__locate {
  font-size: var(--font-sm);
}

.nav-top__line2 {
  font-size: var(--font-md);
}

.nav-top__search {
  flex: 1;
}

.nav-top__search-bar {
  margin: 0;
}

.nav-top__search-field {
  display: flex;
  height: 100%;
}

.nav-top__input {
  flex: 1;
  border: none;
  border-radius: 4px 0 0 4px;
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-md);
  line-height: var(--line-height);
  padding: 9.5px 9.5px 12px 12px;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-gray-var(--weight-semi-bold));
}

.nav-top__search-btn {
  width: 40px;
  height: 40px;
  border-radius: 0 4px 4px 0;
  display: flex;
  background: var(--color-orange-100);
  border: none;
  cursor: pointer;
}

.nav-top__search-icon{
  flex: 1;
  text-align-last: center;
  align-self: center;
}

.nav-top__right {
  display: flex;
  padding: var(--line-height-nav-top);
  gap: 24px;
}

.nav-top__language {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-top__text,
.nav-top__text,
.nav-top__account-line2 {
  font-weight: var(--weight-extra-bold);
  font-size: var(--font-md);
  line-height: var(--line-height-nav-top);
}

.nav-top__account-link {
  position: relative;
  display: flex;
  flex-flow: column;
  z-index: 2;
}

.nav-top__refund-text,
.nav-top__account-line1 {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-sm);
  line-height: var(--font-md);
}

.nav-top__refund-order {
  display: flex;
  flex-flow: column;
}

.nav-top__basket {
  display: flex;
  align-items: center;
  gap: 6.33px;
  margin: 1%;
}

.nav-bottom {
  display: flex;
  height: 32px;
  background-color: var(--color-gray-900);
  align-items: center;
  padding: 1%;
}

.nav-bottom__left {
  display: flex;
  gap: var(--line-height-nav-top);
}

.nav-bottom__selectAll {
  border: 0;
  padding: 0;
  background: 0;
  cursor: pointer;
}

.nav-bottom__container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-bottom__right {
  display: flex;
  flex: 1;
  flex-direction:row-reverse;
}

.nav-bottom__text {
  display: flex;
  gap: var(--line-height-nav-top);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-md);
  line-height: var(--line-height-nav-top);
  color: var(--color-white);
}

