@import 'header.css';
@import 'modal.css';
@import 'sidebar.css';

/* li 스타일 임시 사용 */
li {
  list-style: none;
  padding-bottom: 3%;
}

.dim__layer {
  display: none;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;

  background: rgba(16, 20, 26, 0.4);
}