@import url(reset.css);
@import url(variable.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css');

html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
  'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* Wrapper */
.wrapper__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media (max-width: 70rem) {
  .wrapper__main {
    width: 70rem;
  }
}

@media (min-width: 70rem) {
  .wrapper__main {
    width: 100%;
  }
}

