/* Variable */
@import url(variable.css);

/* Wrapper */
.wrapper__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header {
  width: 100%;
  height: 100%;
}

/* nav-bar */
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 15%;
}

/* nav-bar__main */
.nav-bar__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 60%;
  background-color: var(--color-black);
}

.nav-bar__logo {
  flex-grow: 1;
}

.nav-bar__shipping-country {
  flex-grow: 1;
}

.shipping-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shipping-country__icon {
  color: var(--color-gray-400);
}

.shipping-country__text {
  font-weight: var(--weight-bold);
  font-size: var(--font-sm);
  color: var(--color-gray-400);
}

.shipping-country__main {
  font-weight: var(--weight-bold);
  font-size: var(--font-md);
  color: var(--color-white);
}

.nav-bar__search-form {
  flex-grow: 6;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__input {
  width: 100%;
  height: 2rem;
  padding: 0 0 0 0.75rem;
  border: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: var(--color-white);
  font-weight: var(--weight-regular);
  font-size: var(--font-md);
  color: var(--color-gray-600);
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0 8px 8px 0;
  background-color: var(--color-orange-100);
}

.search-icon {
  color: var(--color-black);
}

.nav-bar__language {
  flex-grow: 1;
  text-align: center;
}

.language__text {
  color: var(--color-white);
  font-weight: var(--weight-bold);
  font-size: var(--font-md);
}

.nav-bar__user-order {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-account > span {
  font: var(--bold-sm);
  color: var(--color-gray-400);
}

@keyframes slow-load {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  40% {
    opacity: 0.4;
    visibility: hidden;

  }
  100% {
    opacity: 1;
    visibility: visible;
  }

}

.login__content {
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 150%;
  left: -150%;
  width: 250%;
  height: 300%;
  background-color: var(--color-white);
  padding: 16px;
  border: 1px var(--color-black) solid;
  border-radius: 4px;
  animation: slow-load 1s forwards;
  animation-delay: 1s;
}

.login__triangle {
  position: absolute;
  top: -15%;
  right: 20%;
}

.login__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login__button {
  background: linear-gradient(174.6deg, var(--color-white) 4.31%, #FED15F 50.01%, #FEBE30 95.71%);
  border: 1px var(--color-yellow-300) solid;
  width: 60%;
  height: 60%;
  font: var(--bold-sm);
  border-radius: 4px;
}

.login__help {
  font: var(--bold-sm);
  color: var(--color-black);
}

.login__help > a {
  color: var(--color-navy);
}

.gray-line {
  width: 100%;
  background-color: var(--color-gray-900);
}

.login__additional--hover {
  display: none;
  font: var(--body-sm);
  color: var(--color-black);
}

.additional-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-list > ul > li {
  font: var(--bold-sm);
  color: var(--color-black);
}

.return-order {
  flex-grow: 1;
}

.return-part {
  font: var(--bold-sm);
  color: var(--color-gray-400);
}

.basket {
  flex-grow: 1;
}

.basket > img {
  width: 10px;
  height: 10px;
}

.nav-bar__sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 32px;

  background-color: var(--color-gray-900);
}

.nav-bar__sub-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.nav-bar__sub-left a {
  font: var(--bold-sm);
  padding: 8px;
}

.nav-bar__sub-left > a > span {
  font: var(--bold-md);
}

.nav-bar__sub-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font: var(--bold-md);
  width: 100%;
  padding: 8px;
}

.wrapper__empty-gray {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-tr40);
  z-index: 1;
  /* 이벤트에 따라 display 변경 */
  display: none;
}

/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  /* 추후에 사이드바 작업하기 */
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  background-color: red;
  z-index: 10;
  transition: all 0.3s;
}