:root {
  /* root font */
  font-size: 16px;

  /* font size */
  --font-boldXL: 1.75rem; /* 28px */
  --font-boldLG: 1.125rem; /* 18px */
  --font-boldMD: 0.813rem; /* 13px */
  --font-boldXS: 0.75rem; /* 12px */
  --font-boldSM: 0.688rem; /* 11px */

  /* font weight */
  --weight-extraBold: 800;
  --weight-semiBold: 600;

  /* line height */
  --line-height-large: 160%;

  /* color */
  --color-white: #ffffff;
  --color-gray100: #eff2f2;
  --color-gray200: #e5e9e9;
  --color-gray300: #dce0e0;
  --color-gray400: #d5d5d5;
  --color-gray500: #c1c1c1;
  --color-gray600: #878787;
  --color-gray700: #535353;
  --color-gray800: #2a3648;
  --color-gray900: #1b232f;
  --color-black: #10141a;
  --color-black40: rgba(16, 20, 26, 0.4);
  --color-primaryYellow100: #fed15f;
  --color-primaryYellow200: #febe30;
  --color-primaryYellow300: #de9408;
  --color-primaryOrange100: #fcb057;
  --color-primaryOrange200: #ff9900;
  --color-secondaryPurple: #941387;
  --color-secondaryNavy: #074099;
  --color-secondaryGreen: #0c5e72;

  /* z-index */
  --zIndex-header: 1000;
  --zIndex-sidebar: 3000;
  --zIndex-dimmed: 2000;
}
