@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css');
}

.bold-xl {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
}

.bold-lg {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.bold-md {
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.06em;
}

.bold-sm {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.06em;
}

.body-md {
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  letter-spacing: -0.03em;
}

.body-sm {
  font-weight: 500;
  font-size: 11px;
  line-height: 160%;
  letter-spacing: -0.03em;
}

body {
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
