.slide {
  position: relative;
}

.slide-banner {
  overflow: hidden;
}

.slide-list {
  display: flex;
}

.slide-item {
  width: 100%;
}

.slide-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 20%;
  cursor: pointer;
}
