header {
  position: relative;
  z-index: var(--zIndex-header);
}

.dimmed-layer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-black40);
  z-index: 100;
}

.dimmed-layer__show {
  visibility: visible;
}

.dimmed-layer__zindex {
  z-index: var(--zIndex-dimmed);
}
