.dimmed {
  background-color: $black40;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &--main {
    position: absolute;
    z-index: 100;
  }

  &--body {
    position: fixed;
    z-index: 400;
  }
}
