.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  white-space: nowrap;
  width: 15rem;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    width: 15rem;
  }
}
