.search-term {
  position: absolute;
  // top값 바꾸기
  top: 4.9rem;
  border-radius: 4px;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 300;
  border: 1px solid $black;

  &__auto-complted-items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 0.8rem 1.2rem;
    display: flex;

    &:hover,
    &--selected {
      background-color: $gray100;
    }
  }

  &__history {
    flex-grow: 1;
  }

  &__remove {
    cursor: pointer;
  }

  &__remove,
  &__recommend-image {
    width: 1.6rem;
    height: 1.6rem;
  }

  &__recommend-image {
    margin-right: 0.4rem;
  }
}
