.search-form {
  @include header-padding;
  flex-grow: 1;

  display: flex;

  &__input {
    flex-grow: 1;
    border: none;
    border-radius: 4px 0px 0px 4px;
    padding: 12px 9.5px;
    height: 4rem;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    background-color: $primary-orange100;
    border-radius: 0px 4px 4px 0px;
  }
}
