/* address modal */

.address-changing {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 16rem;
  height: 6rem;
  padding: 1rem;
  gap: 0.5rem;
  top: 130%;
  left: 0;
  border: 1px var(--color-black) dashed;
  border-radius: 0.25rem;
  background-color: var(--color-white);
}

.address-changing__text {
  font-weight: var(--weight-regular);
  font-size: var(--font-sm);
  color: var(--color-black);
}

.address-changing__buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.continue-btn, .change-btn {
  background: linear-gradient(174.6deg, var(--color-white) 4.31%, #FED15F 50.01%, #FEBE30 95.71%);
  border: 1px var(--color-yellow-300) solid;
  width: 3rem;
  height: 2rem;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: var(--weight-bold);
  font-size: var(--font-sm);
  color: var(--color-black);
}

@keyframes pop-from-left {
  0% {
    left: -20rem;
  }
  100% {
    left: 0;
  }
}
