/* nav-bar */
.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;

}

/* nav-bar__main */
.nav-bar__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-black);
}

.nav-bar__logo {
  flex-grow: 1;
  text-align: center;
}

.nav-bar__shipping-country {
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.shipping-country {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shipping-country__icon {
  color: var(--color-gray-400);
}

.shipping-country__text {
  font-weight: var(--weight-bold);
  font-size: var(--font-sm);
  color: var(--color-gray-400);
}

.shipping-country__main {
  font-weight: var(--weight-bold);
  font-size: var(--font-md);
  color: var(--color-white);
}

.nav-bar__search-form {
  flex-grow: 10;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__input {
  width: 100%;
  height: 2rem;
  padding: 0 0 0 0.75rem;
  border: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: var(--color-white);
  font-weight: var(--weight-regular);
  font-size: var(--font-md);
  color: var(--color-gray-600);
}

.search-form__input:focus {
  outline: none;
}

.search-form__button {
  text-align: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0 8px 8px 0;
  background-color: var(--color-orange-100);
}

.search-icon {
  color: var(--color-black);
}

.nav-bar__language {
  flex-grow: 1;
  text-align: center;
}

.language__text {
  font-weight: var(--weight-bold);
  font-size: var(--font-md);
  color: var(--color-white);
}

.nav-bar__user-account {
  flex-grow: 1;
  /* login 모달 뜨게 하기 위해 */
  position: relative;
}

.user-account {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-account__header {
  font-weight: var(--weight-bold);
  font-size: var(--font-sm);
  color: var(--color-gray-400);
}

.user-account__main {
  font-weight: var(--weight-bold);
  font-size: var(--font-md);
  color: var(--color-white);
}

.nav-bar__user-order {
  flex-grow: 1;
}

.user-order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-order__return-text {
  font-weight: var(--weight-bold);
  font-size: var(--font-sm);
  color: var(--color-gray-400);
}

.user-order__order-text {
  font-weight: var(--weight-bold);
  font-size: var(--font-md);
  color: var(--color-white);
}

.nav-bar__user-basket {
  flex-grow: 1;
}

.basket {
  text-align: center;
}

.basket-icon {
  color: var(--color-white);
}

.basket__text {
  font-weight: var(--weight-bold);
  font-size: var(--font-md);
  color: var(--color-white);
}

.nav-bar__sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  width: 100%;
  height: 2rem;
  background-color: var(--color-gray-900);
  font-size: var(--font-md);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

.all-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.all-list__text {
  font-weight: var(--weight-bold);
}

.nav-bar__special-price {
  flex: 1;
  text-align: right;
  font-weight: var(--weight-bold);
}
