.carousel {
  position: relative;
  height: 500px;
  overflow: hidden; }
  .carousel_container {
    width: calc(5 * 100vw);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .carousel_item {
    width: 100vw;
    height: 500px;
    list-style: none;
    background-size: cover;
    background-position: top center; }
    .carousel_item:nth-child(1) {
      background-image: url(/src/assets/images/carousel1.jpg); }
    .carousel_item:nth-child(2) {
      background-image: url(/src/assets/images/carousel2.jpg); }
    .carousel_item:nth-child(3) {
      background-image: url(/src/assets/images/carousel3.jpg); }
    .carousel_item:nth-child(4) {
      background-image: url(/src/assets/images/carousel4.jpg); }
    .carousel_item:nth-child(5) {
      background-image: url(/src/assets/images/carousel5.jpg); }
  .carousel_button {
    position: absolute;
    width: 24px;
    height: 40px; }
    .carousel_button.prev {
      left: 110px;
      top: 90px; }
    .carousel_button.next {
      right: 110px;
      top: 90px; }

.sidebar_main {
  position: absolute;
  left: 0;
  opacity: 1;
  transition: all 250ms ease-in-out; }
  .sidebar_main.slide {
    position: absolute;
    left: -320px;
    opacity: 0; }
