/* @import 'reset.css'; */
@import 'fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-gray100: #eff2f2;
  --color-gray200: #e5e9e9;
  --color-gray300: #dce0e0;
  --color-gray400: #d5d5d5;
  --color-gray500: #c1c1c1;
  --color-gray600: #878787;
  --color-gray700: #535353;
  --color-gray800: #2a3648;
  --color-gray900: #1b232f;
  --color-black: #10141a;
  --color-black40: #10141acc;
  --color-primaryYellow100: #fed15f;
  --color-primaryYellow200: #febe30;
  --color-primaryYellow300: #de9408;
  --color-primaryOrange100: #fcb057;
  --color-primaryOrange200: #ff9900;
  --color-secondaryPurple: #941387;
  --color-secondaryNavy: #074099;
  --color-secondaryGreen: #0c5e72;
}

.header {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* header 중 main css */
.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 24px;
}

#shipping_image {
  width: 12px;
  height: 12px;
}

.top_text {
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 11px;
  color: var(--color-gray400);
}

.bottom_text {
  display: block;
  font-family: 'Pretendard', sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: var(--color-white);
}

.search_bar {
  display: flex;
  text-align: center;
  height: 40px;
  flex-grow: 1;
}

.search_input {
  padding: 8px 0px 0px 12px;
  flex-grow: 1;
  border: none;
}

.search_button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.search_button img {
  display: block;
  background-color: var(--color-primaryOrange200);
}

.login_pop-up {
  position: absolute;
  top: 58px;
  /* left: 1090px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  clip-path: polygon(70% 0, 80% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 60% 5%);
  background-color: var(--color-gray800);
}

.pop-up_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border-radius: 4px;
  clip-path: polygon(70% 0, 80% 5%, 100% 5%, 100% 100%, 0 100%, 0 5%, 60% 5%);
  background-color: var(--color-gray800);
}

.login_pop-up_button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  width: 160px;
  height: 32px;
  background-color: var(--color-primaryYellow300);
  border: 1px solid var(--color-primaryYellow300);
  border-radius: 4px;
  cursor: pointer;
}

.login_pop-up_description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 203px;
  height: 18px;
}

.login_pop-up_description span {
  display: inline;
  width: 112px;
  height: 18px;
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 160%;
  white-space: nowrap;
}

.login_pop-up_description a {
  display: inline;
  width: 88px;
  height: 18px;
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 160%;
  text-decoration: none;
  white-space: nowrap;
}

.dividing_line {
  width: 303px;
  height: 1px;
  background-color: var(--color-gray100);
}

.list_container {
  display: flex;
  justify-content: space-evenly;
  width: 303px;
  height: 195px;
}

.list_label {
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
}

.list_label_text {
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
}

.list_item {
  font-family: 'Pretendard', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 160%;
}

.hidden {
  display: none;
}

.header_href {
  display: block;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

/* header 중 navbar css*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 750px;
  background-color: var(--color-gray900);
  color: var(--color-white);
}

.navbar_left {
  display: flex;
  justify-content: space-between;
  width: 500px;
  font-family: 'Pretendard', sans-serif;
}

li {
  list-style: none;
}
