.search {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_bar {
  width: 707px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 4px 0px 0px 4px;
  padding-left: 9px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 13px;
  line-height: 160%;
  font-weight: 13px;
  border-width: 0px;
  border: 0px;
  font-family: 'Pretendard';
}

.search_button {
  background-color: #fcb057;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
  border: 0px;
}

.search_form {
  display: none;
  position: absolute;
  top: 40px;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border: 1px solid #10141a;
  border-radius: 4px;
  width: 100%;
  // height: 200px;
}

.flex {
  display: flex;
}

.search_list {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: #0f1111;
  padding: 8px 12px;
  width: 100%;
  height: 40px;
  font-weight: 800;
  font-size: 13px;
  line-height: 160%;
}
.search_list:hover,
.focus {
  background-color: #eff2f2;
}
