.homeHeader {
  background-color: #131921;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 800px;
  margin: 0 auto;
  height: 60px;
  font-size: 13px;
  z-index: 3;
  position: sticky;
}

.small__font {
  font-size: 11px;
  color: #d5d5d5;
}

.homeHeader-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.homeHeader__logo,
.homeHeader__location,
.homeHeader__search,
.homeHeader__country,
.homeHeader__login,
.homeHeader__checkOrder,
.homeHeader__basket {
  padding: 15px;
}

.homeHeader-center {
  flex-grow: 1;
}

.homeHeader-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.homeHeader__search {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.homeHeader__search input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.homeHeader__search button {
  display: inline-block;
  width: 50px;
  padding: 10px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: orange;
}

.homeHeader__search button i {
  color: white;
}

.homeHeader__location,
.homeHeader__login,
.homeHeader__checkOrder {
  display: flex;
  flex-direction: column;
}

.homeHeader__login,
.homeHeader__location {
  position: relative;
}
