.hideSidebar__lists--detail {
  display: none;
  position: relative;
}

.showDetail {
  display: block;
}

.none {
  display: none;
}

.showSidebarDetailAnimation {
  animation: showSidebarDetailSoft 0.5s ease-out forwards;
}

.hideSidebarDetailAnimation {
  animation: hideSidebarDetailSoft 0.5s ease-in forwards;
}

@keyframes showSidebarDetailSoft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hideSidebarDetailSoft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
