@media (max-width: 70rem) {
  .nav {
    width: 70rem;
  }
}
@media (min-width: 70rem) {
  .nav {
    width: 100%;
  }
}

.nav {
  position: absolute;
  z-index: 2;
}

/* * nav 상단 */
#nav-main {
  padding: 0 1rem;

  height: 3.5rem;

  background-color: #10141a;
}

/* nav 상단 flex */
#nav-main,
.shipping-address__top,
.nav-main__search-form,
.search-form__btn,
.nav-main__flag,
.nav-main__cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-main__shipping-address,
.shipping-address__section,
.nav-main__login,
.login__section,
.nav-main__my-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#amazon-icon,
.nav-main__item,
.nav-main__search-form {
  margin: 0 10px;
}
.nav-main__item {
  height: 100%;
}

/* nav 상단 글씨 색깔 */
.nav-main__top-text {
  color: #d5d5d5;
}
.nav-main__bottom-text {
  color: #ffffff;
}

/* * 개별 css 속성 */
.nav-main__flag,
.nav-main__cart {
  padding: 0px;
  gap: 4px;
}

.nav-main__shipping-address {
  position: relative;
}
.shipping-address__top > img {
  width: 12px;
  height: 12px;
}

.nav-main__search-form {
  padding-left: 12px;
  background: #ffffff;
  border-radius: 4px;

  flex-grow: 1;
}
.search-form__input,
.search-form__btn {
  border: none;
  outline: none;
}
.search-form__input {
  height: 21px;

  color: #878787;

  flex-grow: 1;
}
.search-form__btn {
  width: 40px;
  height: 40px;

  background: #fcb057;
  border-radius: 0px 4px 4px 0px;
}
.search-form__btn > img {
  width: 24px;
  height: 24px;
}

.nav-main__login {
  position: relative;
}

.nav-main__cart > img {
  width: 24px;
  height: 24px;
}

/* * nav 하단 */
#nav-sub {
  padding: 0px 16px;

  width: 100%;
  height: 32px;

  background: #1b232f;
}

/* nav 하단 글씨 */
#nav-sub {
  /* 글씨체 type에 없는 속성값을 가지기 때문에 따로 지정 */
  font-weight: 600;
  font-size: 13px;
}
#nav-sub a,
.side-bar-btn {
  color: #ffffff;
}

/* nav 하단 flex */
#nav-sub,
.side-bar-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* 개별 css 속성 */
#nav-sub a,
.side-bar-btn {
  padding: 8px;
}
.nav-sub__left-btns .side-bar-btn,
.nav-sub__left-btns > a {
  margin-right: 20px;
}

.side-bar-btn img {
  width: 16px;
  height: 16px;

  margin-right: 5px;
}
.nav-sub__right-btn {
  margin-left: auto;
}
