/* nav 상단 */
#nav_main {
  display: flex;
  align-items: center;
  padding: 8px 16px;

  width: 100%;
  height: 56px;

  background-color: #10141a;
}
#nav_main > div,
#nav_main > form {
  margin: 10px;
}
/* nav 상단 글씨체 */
.nav_main_top_text {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.06em;

  color: #d5d5d5;
}
.nav_main_bottom_text {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;

  letter-spacing: -0.06em;

  color: #ffffff;
}

.shipping_address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shipping_address_icon_text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shipping_address_icon_text > img {
  width: 12px;
  height: 12px;
}

.nav_main_search_form {
  display: flex;
  align-items: center;
  padding-left: 12px;
  background: #ffffff;
  border-radius: 4px;

  flex-grow: 1;
}
.searchFormInput,
.searchFormBtn {
  border: none;
  outline: none;
}
.searchFormInput {
  height: 21px;

  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;

  letter-spacing: -0.03em;

  color: #878787;

  flex-grow: 1;
}
.searchFormBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background: #fcb057;
  border-radius: 0px 4px 4px 0px;
}
.searchFormBtn > img {
  width: 24px;
  height: 24px;
}

.flag,
.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
}
.login,
.my_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login {
  position: relative;
}
.login_dim {
  position: absolute;
  top: 50px;
  left: -30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  width: 235px;
  height: 90px;
  border: 1px solid #000;
  border-radius: 5px;
}
.login_dim:after {
  content: '';

  border: 10px solid transparent;
  border-bottom: 10px solid #fff;

  position: absolute;
  top: -18px;
  left: 30px;
}
.login_button {
  cursor: pointer;
}
.login_dim_bottom {
  margin-top: 3px;
}
.login_dim_bottom > span {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 160%;

  letter-spacing: -0.03em;
}
.login_dim_bottom > span:first-child {
  color: #10141a;
}
.login_dim_bottom > span:last-child {
  color: #074099;
}

.cart > img {
  width: 24px;
  height: 24px;
}

/* nav 하단 */
#nav_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;

  width: 100%;
  height: 32px;

  background: #1b232f;
}
#nav_sub a {
  color: #ffffff;
}

/* nav 하단 글씨체 */
.nav_sub_left_text {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: #ffffff;
}
.side_bar,
.nav_sub_right_button > a {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;

  letter-spacing: -0.06em;

  color: #ffffff;
}

.nav_sub_left_buttons,
.nav_sub_left_buttons > li,
.side_bar,
.nav_sub_right_button {
  display: flex;
  align-items: flex-start;
}

.nav_sub_left_buttons > li {
  padding: 8px;
  gap: 4px;
}
.nav_sub_left_buttons > li > a,
.nav_sub_right_button > a {
  display: flex;
}
.side_bar img {
  width: 16px;
  height: 16px;

  margin-right: 5px;
}
