@import './reset.css';
@import './font.css';
@import './header.css';
@import './modal.css';
@import './sideBar.css';

html {
  overflow-y: scroll;
}

body {
  background-color: #fff;
  min-width: 70rem;
  min-height: 100vh;
}

.cursor {
  cursor: pointer;
}
.hidden {
  display: none;
}

.modal_btn {
  background: linear-gradient(174.6deg, #ffffff 4.31%, #fed15f 50.01%, #febe30 95.71%);

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #de9408;
  border-radius: 4px;

  color: #10141a;

  cursor: pointer;
}

.dim_cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0.6;
  background-color: black;
}
.dim_cover_in_sideBar {
  z-index: 3;
}
.dim_cover_in_header {
  z-index: 1;
}
