.triangle {
  content: '';

  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;

  position: absolute;
}

.shipping-address__modal {
  position: absolute;
  top: 100%;
  left: -50%;

  background-color: #ffffff;
  width: 320px;
  height: 126px;
  border: 1px solid #000;
  border-radius: 5px;

  color: #10141a;
}
.shipping-address__modal > span {
  position: absolute;
  margin-top: 20px;
  padding: 10px;
}
.shipping-address__modal-btns {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;

  display: flex;
  justify-content: flex-end;
}
.shipping-address__modal-btns > div:first-child {
  width: 40px;
}
.shipping-address__modal-btns > div:last-child {
  width: 60px;
  margin-left: 10px;
}
.shipping-address__modal-btn {
  height: 32px;
}
.shipping-address__modal .triangle {
  top: -18px;
  left: 30px;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.login__modal {
  position: absolute;
  top: 100%;
  left: -200%;

  background-color: #ffffff;
  width: 335px;
  border: 1px solid #000;
  border-radius: 5px;
  animation: fade_in 1s ease-in-out;
}
.login__modal .modal-btn {
  margin: 15px auto 0 auto;
  width: 60%;
  height: 30px;
}
.login__modal-bottom {
  margin: 3px auto 10px auto;
  text-align: center;
  color: #10141a;
}
.login__modal-bottom > span:last-child {
  color: #074099;
}

/* 초기 login modal에 호버할 경우 추가 login modal창이 뜸 */
.login__modal:hover .login__expanded-modal {
  display: flex;
}
.login__expanded-modal {
  width: 90%;
  border-top: 1px #eff2f2 solid;
  padding-top: 10px;
  margin: 0 auto;

  display: none;
  justify-content: space-between;
}

.login__modal .triangle {
  top: -18px;
  left: 170px;
}
