@keyframes open_side_bar {
  from {
    left: -374px;
  }
  to {
    left: 0;
  }
}
@keyframes close_side_bar {
  from {
    left: 0;
  }
  to {
    left: -374px;
  }
}

.open_side_bar {
  animation: open_side_bar 1s ease-in-out forwards;
}
.close_side_bar {
  animation: close_side_bar 1s ease-in-out forwards;
}

.close_side_bar_btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -30px;
  top: 8px;
}

.side_bar {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -374px;
  z-index: 2;
}
.side_bar_main {
  width: 320px;
  height: 100%;
  background-color: #ffffff;
  color: #10141a;

  overflow-y: scroll;
}

.side_bar_main_header {
  height: 53px;
  padding: 16px 16px 16px 32px;
}
.side_bar_main li {
  height: 40px;
  padding: 8px 16px 8px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

/* 사이드바 아이콘 */
.right_arrow_icon {
  display: inline-block;
  width: 8px;
  height: 12px;
  background-size: cover;
  background-image: url('../image/rightArrow.svg');
}
.bottom_arrow_icon,
.up_arrow_icon {
  display: inline-block;
  margin-left: 10px;
  width: 12px;
  height: 8px;
  background-size: cover;
}
.bottom_arrow_icon {
  background-image: url('../image/bottomArrow.svg');
}
.up_arrow_icon {
  background-image: url('../image/upArrow.svg');
}

.side_bar_main li:hover {
  background: #eff2f2;
}
.side_bar_main li:hover .right_arrow_icon {
  background-image: url('../image/rightArrowBlack.svg');
}
.side_bar_main li:hover .bottom_arrow_icon {
  background-image: url('../image/bottomArrowBlack.svg');
}
.side_bar_main li:hover .up_arrow_icon {
  background-image: url('../image/upArrowBlack.svg');
}

.side_bar_login {
  background-color: #10141a;
  color: #ffffff;
}

.shopping_category_list li:last-child,
.expanded_shopping_category_list li:last-child {
  justify-content: start;
}
.shopping_category_list li:last-child img,
.expanded_shopping_category_list li:last-child img {
  margin-left: 10px;
}

.expanded_shopping_category_list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
