.side-bar {
  position: fixed;
  height: 100%;
  transform: translateX(-100%);
  z-index: 4;
  color: #10141a;
  background-color: #ffffff;
}

.side-bar__close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -30px;
  top: 8px;
  visibility: hidden;
}

.side-bar__header {
  height: 53px;
  padding: 16px 16px 16px 32px;
}
.side-bar li {
  height: 40px;
  padding: 8px 16px 8px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.translateX-left,
.translateX-right {
  transition: transform 0.4s ease-in;
}
.translateX-left {
  transform: translateX(-100%);
}
.translateX-right {
  transform: translateX(0);
}

/* 사이드바 아이콘 */
.right-arrow-icon {
  display: inline-block;
  width: 8px;
  height: 12px;
  background-size: cover;
  background-image: url('../image/rightArrow.svg');
}
.bottom-arrow-icon,
.up-arrow-icon {
  display: inline-block;
  margin-left: 10px;
  width: 12px;
  height: 8px;
  background-size: cover;
}
.bottom-arrow-icon {
  background-image: url('../image/bottomArrow.svg');
}
.up-arrow-icon {
  background-image: url('../image/upArrow.svg');
}
.left-arrow-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-size: cover;
  background-image: url('../image/leftArrow.svg');
}

.side-bar li:hover {
  background: #eff2f2;
}
.side-bar li:hover .right-arrow-icon {
  background-image: url('../image/rightArrowBlack.svg');
}
.side-bar li:hover .bottom-arrow-icon {
  background-image: url('../image/bottomArrowBlack.svg');
}
.side-bar li:hover .up-arrow-icon {
  background-image: url('../image/upArrowBlack.svg');
}

.side-bar__login {
  background-color: #10141a;
  color: #ffffff;
}

#show-all-btn,
#show-less-btn {
  justify-content: start;
}
#show-all-btn img,
#show-less-btn img {
  margin-left: 10px;
}

.side-bar__content {
  position: relative;
  width: 320px;
  height: 100%;
  overflow-x: hidden;
}

.side-bar__main {
  position: absolute;
  width: 100%;
  height: calc(100% - 53px);
  overflow-y: scroll;
  background-color: #ffffff;
  color: #10141a;
  overflow-x: hidden;
}
.expanded-category {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}

.detail-category {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: calc(100% - 53px);
  visibility: hidden;
  overflow-y: scroll;
}
#main-category-return-btn {
  justify-content: flex-start;
}

.visible {
  visibility: visible;
}
