@keyframes slowshow {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

.nav__login_popup {
  visibility: hidden;
  position: absolute;
  width: 235px;
  height: 100px;
  left: -170px;
  top: 44px;
  animation-delay: 1s;
}
