@import "reset.css";
@import "font.css";
@import "../sidebar/sidebar.css";
@import "../nav/nav.css";
@import "../nav/navPopup.css";
@import "../nav/navAnimation.css";
@import "../sub/sub.css";

* {
    box-sizing: border-box;
}
body{
    font-family: ‘Pretendard’;
}

a{
    text-decoration-line: none;
    color: inherit;
}

