.homeHeader-center {
  position: relative;
}

#search-flyout {
  position: absolute;
  width: 100%;
  padding: 0 15px;
  top: 51px;
  box-sizing: border-box;
  transition: opacity 0.5s ease-in-out;

  .search-flyout-recKeywords {
    padding: 10px;
    color: black;
    background-color: white;

    i {
      margin-right: 10px;
    }
  }

  .search-flyout-recKeywords:hover {
    background-color: #eaeded;
  }

  .search-flyout-mySearchContainer div {
    padding: 10px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;

    i {
      color: gray;
    }

    i:hover {
      font-weight: 800;
      color: black;
    }
  }

  .search-flyout-mySearchContainer div:hover {
    background-color: #eaeded;
  }
}

.hide-opacity {
  visibility: hidden;
  opacity: 0;
}

.show-opacity {
  visibility: visible;
  opacity: 1;
}
